
<!DOCTYPE html>
<html class="no-js">
<head>
    <!-- <meta name="viewport" content="width=device-width"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- <link rel="stylesheet" href="/css/bootstrap-responsive.min.css"> -->
    <!-- // <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script> -->
</head>


<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- date -->
<div class="form-group" style="z-index: 50;">
	<label for="testdate" class="col-sm-4 control-label" style="font-family: sans-serif;font-size:15px;"> Date </label>
	<div class="col-sm-4">
        <input type="text" name="testdate" id="testdate" class="form-control date_select" style="z-index: 10;" required/>
    </div>
</div>


<script>

    $(function() {
        $('.date_select').datepicker();
    });  

</script>




<script src="/js/vendor/bootstrap.min.js"></script>
<!-- <script src="/js/jquery.validate.min.js"></script> -->
<script src="/js/docs.min.js"></script>

<!-- jquery -->
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


    </body>
</html>
