@font-face {
	font-family: HelveticaNeue;
	src: url(HelveticaNeue.ttf);
}

@font-face {
	font-family: HelveticaN;
	src: url(Helvetica.ttf);
}

@font-face {
	font-family: HelveticaBd;
	src: url(HelveticaBd.ttf);
}

@font-face {
	font-family: HelveticaCd;
	src: url(HelveticaCd.ttf);
}

body {
	width: 100% !important;
	color: #000 !important;
	font-family: 'HelveticaN', sans-serif !important;
}

#map {
	position: absolute; top: 0; bottom: 0; left: 0;
	width: 100%;
	z-index: 0;
}

.intro {
	text-transform: uppercase;
	position: absolute;
	width: 100%;

	text-align: center;
	top: 34%;
	line-height: 120%;
	letter-spacing: 2px;
	z-index: 10;
	font-size: 50px;
	font-weight: 300;
}

.intro2 {
	position: absolute;
	width: 100%;

	text-align: center;
	top: 34%;
	line-height: 120%;
	letter-spacing: 2px;
	z-index: 10;
	font-size: 50px;
	font-weight: 300;
}

.strong {
	font-weight: 700;
}

input {
	background-color: rgba(255,255,255,0) !important;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0px !important;

	font-family: 'Open Sans', sans-serif;
	font-size: 18px !important;
	font-weight: 300 !important;
	text-transform: uppercase !important;
	letter-spacing: 2px;

	margin-left: auto !important;
	margin-right: auto !important;

	padding: 2px !important;
	margin-top: 5px !important;
	margin-bottom: 10px !important;
	text-align: center;

	color: #fff !important;
}

hr {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
	opacity: 0.4 !important;
}

button {
	font-family: 'HelveticaN', sans-serif !important;
	text-shadow: none !important;
	text-transform: uppercase;
	color: white !important;

	background-image: none !important;
	text-decoration: none !important;
	border-radius: 0px !important;
	border: none !important;
}

#getCityButton {
	font-size: 12px !important;
	letter-spacing: 2px;
	height: 40px !important;
	left: 62%;
}

#intro2_content {
	visibility: hidden;
}

#addTripButton {
	position: absolute;
	z-index: 10;
	font-size: 24px !important;
	letter-spacing: 2px;
	height: 40px !important;
	left: 41%;
	top: 50.1% ;
}

.nav {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #4a86e8;
	padding: 8px;
}

#heading {
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
}

#addTripDes {
	font-family: 'Inconsolata', sans-serif !important;
	width: 100%;
	position: absolute;
	z-index: 10;
	left: 45%;
	top: 50.2% ;
	height: 40px !important;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 20px;
	letter-spacing: 2px;
}

#others {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: none;
}

#addButton {
	position: absolute;
	top: 580px;
	background: #4a86e8;
	font-size: 20px;
	padding: 1px;
	width: 30px;

	margin-left: 5px;
	color: white;
	z-index: 2;

	visibility: hidden;
}

img {
	position: absolute;
	z-index: 10000 !important;
}

#addButton:hover {
	opacity: 0.8;
}

#cityname {
	position: absolute;
	z-index: 10;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 11px;
	left: 5px;
	top: 2px;
	padding: 10px;

	letter-spacing: 1px;
	font-weight: 600;
	visibility: hidden;
}

.directionBox {
	position: absolute;
	border-radius: 3px;
	background-color: rgba(255,255,255,0);
	top: 78px;
	left: 96px;
	width: 280px; height: 180px;
	z-index: 2;
	visibility: hidden;
	font-family: 'Open Sans', sans-serif;
	padding: 15px;
	font-size: 12px;
}

.pin_class {
	position: absolute;
	z-index: 50 !important;
}

#uberx {
	position: absolute;
	left: 20px;
	bottom: 100px;
}

#tooltip {   
	position: absolute; 
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 8px;       
	font-size: 10px;
	letter-spacing: 1px;
	border: 1px;
	border-radius: 4px;
	pointer-events: none;
	color: #fff;
	background-color: rgba(0,0,0,0.65);
}

#dashboard {
	position: absolute;
	z-index: 20;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.4);
	bottom: 15px;

	left:5%;
	width: 90%; 
	height: 110px;
	visibility: hidden;
	font-family: 'Open Sans', sans-serif;
	padding: 15px;
	font-size: 13px;
	letter-spacing: 2px;
	color: #4a86e8;
	font-weight: 600;

	text-align: center;
}

#dashboard_ver {
	position: absolute;
	z-index: 20;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.65);
	top: 190px;

	left: 5px;
	width: 160px; 
	height: 380px;
	visibility: hidden;

	font-family: 'Open Sans', sans-serif;
	padding: 20px;
	font-size: 11px;
	letter-spacing: 2px;
	color: #4a86e8;
	font-weight: 600;

	text-align: center;
}

.add {
/*	background-color: #4a86e8 !important; 
	z-index: 30;*/
}


/*Zoom Control*/
.leaflet-top .leaflet-control {
	margin-top: 60px;
}
.leaflet-bar, .leaflet-control-layers {
	border: none;
}

.leaflet-bar, .leaflet-control-layers {
	opacity: 0.8;
}

